name: "Build"
on:
  push:
    branches:
      - "master"
  pull_request:
jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out"
        uses: "actions/checkout@v6"
      - name: "Set up Go"
        uses: "actions/setup-go@v6"
        with:
          go-version-file: "go.mod"
      - name: "Install xcaddy"
        run: "go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest"
      - name: "Build"
        run: "xcaddy build --with go.astrophena.name/tsid=."
